<script src="{{ 'variant-change.js' |  asset_url }}" defer></script>

<div class="product-section page-width">
  <div class="container">
    <div class="product-wrapper">
      <div class="product-section__images">
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
          {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
          <div class="product-section__featured-image">
            <img src="{{ featured_media.preview_image |  img_url: 'master' }}" alt="{{ featured_media.alt }}">
          </div>
          <div class="product-section__carousel">
            {% for media in product.media %}
              {% if media.media_type == 'image' %}
                <div class="product-section__carousel-image {% if media.id == featured_media.id %} active {% endif %}">
                  <img src="{{ media.preview_image |  img_url: '100x100' }}" alt="{{ media.alt }}">
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {%- endif -%}
      </div>

      <div class="product-section__info">
        <variant-change>
          {% form 'product', product %}
            <input
              name="id"
              id="product-form-input"
              type="hidden"
              value="{{ product.selected_or_first_available_variant.id }}"
            >
            <p class="product__title">
              <span>{{ product.title }}</span>
              <span class="product__vendor">({{ product.vendor }})</span>
            </p>
            <p class="product__price">{{ product.selected_or_first_available_variant.price | money }}</p>

            {% unless product.has_only_default_variant %}
              <div data-current-url="{{ product.url }}" class="product-section__variants-wrapper">
                {% for option in product.options_with_values %}
                  {% comment %}
                    <label for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>

                    <div
                      data-group-id="{{ forloop.index0 }}"
                      class="product-variants"
                    >
                      {% assign group_index = forloop.index0 %}

                      {% for value in option.values %}
                        <button
                          data-variant-trigger
                          data-variant-id="{{ group_index }}"
                          data-variant-value="{{ value }}"
                          class="product-variant"
                          type="button"
                          {% if value == product.selected_or_first_available_variant.options[group_index] %}
                            data-active-variant
                          {% endif %}
                        >
                          {{ value }}
                        </button>
                      {% endfor %}
                    </div>
                  {% endcomment %}

                  <fieldset class="product-variants" data-group-id="{{ forloop.index0 }}">
                    <legend>{{ option.name }}</legend>

                    {% assign group_index = forloop.index0 %}

                    {% for value in option.values %}
                      <input
                        type="radio"
                        id="{{ section.id }}-{{ value }}"
                        name="{{ option.name }}-{{ group_index }}"
                        hidden
                      >
                      <label
                        class="product-variant"
                        for="{{ section.id }}-{{ value }}"
                        data-variant-trigger
                        data-variant-id="{{ group_index }}"
                        data-variant-value="{{ value }}"
                        {% if value == product.selected_or_first_available_variant.options[group_index] %}
                          data-active-variant
                        {% endif %}
                      >
                        {{- value -}}
                      </label>
                    {% endfor %}
                  </fieldset>
                {% endfor %}
              </div>
            {% endunless %}

            <script type="application/json">
              {{ product.variants | json }}
            </script>

            <input hidden type="text" name="quantity" min="1" value="1">

            <button
              data-submit-button
              type="submit"
              class="product__submit-button"
            >
              Add to cart
            </button>
          {% endform %}
        </variant-change>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product page",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ]
}
{% endschema %}

<style>
  .product-section__featured-image img {
    width: 100%;
  }

  .product-section__carousel {
    display: flex;
    justify-content: center;
    height: 80px;
    gap: 20px;
  }

  .product-section__carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #989898;
    padding: 1px;
  }

  .product-section__carousel-image {
    cursor: pointer;
  }

  .product-section__carousel-image.active img {
    border-color: #ef3636;
  }

  .product-section {
    padding: 40px 0;
  }

  .product-wrapper {
    display: flex;
  }

  .product-section__images,
  .product-section__info {
    width: 50%;
  }

  .product-section__image {
    cursor: pointer;
    width: 270px;
    height: 230px;
    object-fit: cover;
  }

  .product-section__info {
    padding: 0 20px;
  }

  .product__title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 0;
  }

  .product__vendor {
    color: #989898;
    font-size: 14px;
  }

  .product__price {
    color: #ef3636;
    font-size: 20px;
    margin: 0;
  }

  .product-section__variants-wrapper {
    padding: 20px 0;
  }

  .product-variants {
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
  }

  .product-variant {
    display: inline-block;
    cursor: pointer;
    min-width: 48px;
    text-align: center;
    border: 1px solid #ef3636;
    border-radius: 4px;
    color: #ef3636;
    padding: 4px 10px;
    transition: 100ms all;
    background-color: transparent;
  }

  [data-active-variant] {
    background-color: #ef3636;
    color: #fff;
  }

  .product-variant:hover {
    background-color: #ef3636;
    color: #fff;
  }

  .product__submit-button {
    height: 40px;
    cursor: pointer;
    width: 100%;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #989898;
    background-color: #989898;
    padding: 10px 20px;
    transition: 100ms all;
    margin-top: 20px;
  }

  .product__submit-button:hover {
    color: #000;
    background-color: transparent;
  }

  .product-section__description {
    margin-top: 20px;
  }

  .product-section__description-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: transparent;
    color: #ef3636;
    border: 1px solid #ef3636;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px 20px;
  }

  .product-section__description-button span {
    color: #000;
  }

  .product-section__description-content {
    display: none;
    margin: 10px 0;
  }

  .product-section__description.active .product-section__description-content {
    display: block;
  }

  .product-section__description-button svg {
    transition: 150ms all;
  }

  .product-section__description.active .product-section__description-button svg {
    transform: rotate(180deg);
  }

  .product-section__swiper {
    display: none;
  }

  .product-section__image-mobile {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  /* HTML: <div class="loader"></div> */
  .loader {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #ffffff;
    animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
  }
  @keyframes l20-1 {
    0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }
    12.5% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
    }
    25% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
    }
    50% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
    62.5% {
      clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
    }
    75% {
      clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
    }
    100% {
      clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
    }
  }
  @keyframes l20-2 {
    0% {
      transform: scaleY(1) rotate(0deg);
    }
    49.99% {
      transform: scaleY(1) rotate(135deg);
    }
    50% {
      transform: scaleY(-1) rotate(0deg);
    }
    100% {
      transform: scaleY(-1) rotate(-135deg);
    }
  }

  @media (max-width: 1000px) {
    .image-modal__img {
      width: 500px;
      height: 400px;
    }
  }

  @media (max-width: 580px) {
    .image-modal__img {
      width: 300px;
      height: 260px;
      object-fit: contain;
    }
  }

  @media (max-width: 625px) {
    .product-section__images,
    .product-section__info {
      width: 100%;
    }

    .product-section__info {
      padding: 0;
    }

    .product-wrapper {
      flex-direction: column-reverse;
    }

    .product__submit-button,
    .product__submit-button__ajax {
      margin-bottom: 20px;
    }

    .product-section {
      padding-top: 0;
    }

    .product-section__images {
      display: none;
    }

    .product-section__swiper {
      display: block;
    }
  }
</style>
