{% comment %}
  You can change this html and styles as you want. Styles have to be in section where you place predictive-search component.

  <style>
    .search-results {
      background-color: #f5f5f5;
      padding: 15px 20px;
    }

    .render-search__title {
      margin: 0;
      border-bottom: 1px solid #dbdbdb;
    }

    .render-search__item {
      cursor: pointer;
      padding: 10px 0;
    }

    .render-search__item:hover {
      background-color: #ececec;
    }

    .render-search__item a {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .render-search__wrapper {
      display: flex;
      gap: 20px;
    }

    .render-search__column.full-width {
      flex-basis: 100%;
    }

    .render-search__column {
      display: flex;
      gap: 20px;
    }

    .render-search__column-first {
      flex-basis: 40%;
      flex-direction: column;
    }

    .render-search__column-second {
      flex-basis: 100%;
    }

    .render-search__products {
      width: 100%;
    }

    input[type='search'] {
      width: 100%;
      padding: 10px 15px;
      outline: none;
      box-shadow: none;
    }
  </style>
{% endcomment %}

{% if predictive_search.performed %}
  {% assign first_column_results_size = predictive_search.resources.queries.size
    | plus: predictive_search.resources.collections.size
    | plus: predictive_search.resources.pages.size
    | plus: predictive_search.resources.articles.size
  %}

  <div class="render-search" data-search-content>
    <div class="render-search__wrapper">
      {% if first_column_results_size > 0 %}
        <div class="render-search__column render-search__column-first {% if predictive_search.resources.products.size < 1 %}full-width{% endif %}">
          {%- if predictive_search.resources.queries.size > 0 -%}
            <div class="render-search__queries">
              <p class="render-search__title">Suggestions</p>
              {% for query in predictive_search.resources.queries %}
                <div class="render-search__item">
                  <a href="{{ query.url }}">
                    <span>
                      {{ query.styled_text }}
                    </span>
                  </a>
                </div>
              {% endfor %}
            </div>
          {%- endif -%}
          {% if predictive_search.resources.collections.size > 0 %}
            <div class="render-search__collections">
              <p class="render-search__title">Collections</p>
              {% for collection in predictive_search.resources.collections -%}
                <div class="render-search__item">
                  <a href="{{ collection.url }}">{{ collection.title | escape }}</a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {% if predictive_search.resources.pages.size > 0 %}
            <div class="render-search__pages">
              <p class="render-search__title">Pages</p>
              {% for page in predictive_search.resources.pages %}
                <div class="render-search__item">
                  <a href="{{ page.url }}">{{ page.title | escape }}</a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
          {% if predictive_search.resources.articles.size > 0 %}
            <div class="render-search__articles">
              <p class="render-search__title">Articles</p>
              {% for article in predictive_search.resources.articles %}
                <div class="render-search__item">
                  <a href="{{ article.url }}">{{ article.title | escape }}</a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if predictive_search.resources.products.size > 0 %}
        <div class="render-search__column render-search__column-second {% if first_column_results_size < 1 %}full-width{% endif %}">
          <div class="render-search__products">
            <p class="render-search__title">Products</p>
            {% for product in predictive_search.resources.products %}
              <div class="render-search__item">
                <a href="{{ product.url }}">
                  {% if product.featured_image != blank %}
                    <img
                      src="{{ product.featured_image |  image_url: width: 150 }}"
                      alt="{{ product.featured_image.alt }}"
                      width="50"
                      height="{{50 | divided_by: product.featured_media.preview_image.aspect_ratio}}"
                    >
                    <span class="pred-search-section__title">{{ product.title }}</span>
                  {% endif %}
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
    {% if first_column_results_size < 1 and predictive_search.resources.products.size < 1 %}
      <span
        >No results found for <strong>"{{ predictive_search.terms }}"</strong></span
      >
    {% endif %}
  </div>
{% endif %}

{% stylesheet %}
{% endstylesheet %}
