<div class="container">
  <div data-search-content>
    <div class="render-search__products">
      {% if predictive_search.resources.products.size > 0 %}
        <p class="render-search__products-title">Products</p>
        {% for product in predictive_search.resources.products %}
          <div class="render-search__product">
            <a href="{{ product.url }}">
              {% if product.featured_image != blank %}
                <img
                  src="{{ product.featured_image |  image_url: width: 150 }}"
                  alt="{{ product.featured_image.alt }}"
                  width="50"
                  height="{{50 | divided_by: product.featured_media.preview_image.aspect_ratio}}"
                >
                <span class="pred-search-section__title">{{ product.title }}</span>
              {% endif %}
            </a>
          </div>
        {% endfor %}
      {% endif %}
    </div>
    {%- if predictive_search.resources.products.size > 0 or predictive_search.resources.queries.size > 0 -%}
      {% for query in predictive_search.resources.queries %}
        <a href="{{ query.url }}">
          {{ query.styled_text }}
        </a>
      {% endfor %}
    {%- endif -%}
  </div>
</div>

{% stylesheet %}
{% endstylesheet %}
