<div class="video-section">
  <p class="video-section__title">{{ section.settings.title }}</p>
  <div class="video-section__media">
    {% if section.settings.autoplay %}
      <x-lazy-video
        data-video-src="{{ section.settings.video.sources[0].url }}"
        data-video-type="{{ section.settings.video.sources[0].mime_type }}"
        data-video-poster="{{ section.settings.video.preview_image |  image_url  }}"
      >
      </x-lazy-video>
    {% else %}
      {{ section.settings.video | video_tag: autoplay: false, controls: true, muted: false }}
    {% endif %}
  </div>
</div>

<style>
  .video-section {
    background-color: #f4f4f4;
    padding: 20px;
  }

  .video-section__title {
    font-size: 24px;
    color: #333;
    text-align: center;
  }

  .video-section__media {
    display: flex;
    justify-content: center;
  }

  .video-section video {
    width: 860px;
    height: 460px;
  }
</style>

{% schema %}
{
  "name": "Video section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Video section"
    },
    {
      "type": "video",
      "id": "video",
      "label": "A shopify hosted video"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Video autoplay",
      "default": false
    }
  ]
}
{% endschema %}
