{% capture video_sources_value %}
  [
    {% for source in section.settings.video.sources %}
      {
        "url": "{{ source.url }}",
        "mime_type": "{{ source.mime_type }}"
      }
    {% endfor %}
  ]
{% endcapture %}

<div class="video-section">
  <p class="video-section__title">{{ section.settings.title }}</p>
  <div class="video-section__media">
    {% if section.settings.autoplay %}
      <lazy-video
        width="860"
        height="440"
        loop
        sources="{{ video_sources_value |  escape }}"
        poster="{{ section.settings.video.preview_image |  image_url  }}"
      >
      </lazy-video>
    {% else %}
      {{ section.settings.video | video_tag: autoplay: false, controls: true, muted: false }}
    {% endif %}
  </div>
</div>

<style>
  .video-section {
    background-color: #f4f4f4;
    padding: 20px;
  }

  .video-section__title {
    font-size: 24px;
    color: #333;
    text-align: center;
  }

  .video-section__media {
    display: flex;
    justify-content: center;
  }
</style>

{% schema %}
{
  "name": "Video section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Video section"
    },
    {
      "type": "video",
      "id": "video",
      "label": "A shopify hosted video"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Video autoplay",
      "default": false
    }
  ]
}
{% endschema %}
